<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dian.zi.com.zidian"
    android:versionCode="2"
    android:versionName="@string/version_name">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />


    <application
        android:name="com.zi.dian.ControlApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FragmentActivityHome"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.zi.dian.ui.ActivityHanZiDetail" />
        <activity android:name="com.zi.dian.ui.ActivityChineseCharacter" />
        <activity android:name="com.zi.dian.ui.ActivitySpellingZiStroke" />
    </application>

</manifest>