<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dian.zi.com.zidian"
          android:versionCode="2"
          android:versionName="@string/version_name">
    <!--standard 默认模式，每次启动Activity都会创建一个Activity实例-->
    <!--singleTop 如果栈中已经存在Activity并且不在栈顶的时候，如果再次启动该Activity时，则会创建新的Activity。-->
    <!--singTask-->
    <!--singleInstance -->
    <application
        android:name="com.zi.dian.ControlApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".FragmentActivityHome"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.zi.dian.ui.ActivityChineseCharacterDetail"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.zi.dian.ui.ActivityChineseCharacterByRadical"
            android:launchMode="singleTop"/>
        <activity
            android:name="com.zi.dian.ui.ActivityChineseCharacterByStroke"
            android:launchMode="singleTop"/>
        <activity
            android:name="com.zi.dian.ui.ActivitySpellingZiStroke"
            android:launchMode="singleTop"/>
    </application>

</manifest>